<div>
	<div class="row">
		<div class="whapp-header">
			{{if data.id}}
                <h1>Edit User</h1>
            {{else}}
                <h1>Create User</h1>
            {{/if}}
			<div class="buttons-right pasted view-buttons">
				<button class="btn black basic activate">Basic</button>
				<button class="btn black advanced">Advanced</button>
			</div>
		</div>
	</div>
	<div class="row">
		<ul class="tabs" data-tabs="tabs">
		 	<li class="active"><a href="#basic">Basic</a></li>
		 	<li><a href="#caller_id"><span class="icon sip"></span>Caller ID</a></li>
		 	<li><a href="#options"><span class="icon conference"></span>Options</a></li>
		 	<li><a href="#call_forward"><span class="icon cdr"></span>Call Forward</a></li>
		 	<li><a href="#password_management"><span class="icon sip"></span>Password Management</a></li>
		 	<li><a href="#hot_desking"><span class="icon phone"></span>Hot Desking</a></li>
		</ul>
		<form id="user-form" action="#" method="post">
			<div class="pill-content">
				<div class="active basic_view" id="basic">
					<h3>Basic Settings</h3>
					<div class="clearfix">
						<label for="username">Username</label>
						<div class="input">
                            {{if data.username}}
                                <label id="username_label">${data.username}</label>
                                <input id="username" name="username" type="hidden"value="${data.username}" />
                            {{else}}
                                <input class="span4" id="username" name="username" type="text" placeholder="Username" value="${data.username}" rel="popover" data-content="Username"/>
                            {{/if}}
						</div>
					</div>

					<div class="clearfix">
						<label for="first_name">First Name</label>
						<div class="input">
							<input class="span4" id="first_name" name="first_name" type="text" placeholder="First Name" value="${data.first_name}" rel="popover" data-content="First Name"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="last_name">Last Name</label>
						<div class="input">
							<input class="span4" id="last_name" name="last_name" type="text" placeholder="Last Name" value="${data.last_name}" rel="popover" data-content="Last Name"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="email">Email</label>
						<div class="input">
							<input class="span4" id="email" name="email" type="text" placeholder="user@company.com" value="${data.email}" rel="popover" data-content="Email Address like: user@company.com"/>
						</div>
					</div>

					<div class="clearfix">
						<label for="priv_level">User privilege level</label>
						<div class="input">
							 <select id="priv_level" name="priv_level" class="medium" rel="popover" data-content="The user privilege level">
                                {{if data.priv_level == 'admin'}}
                                    <option value="admin" selected>Administrator</option>
                                    <option value="user">User</option>
                                {{else}}
                                    <option value="admin">Administrator</option>
                                    <option value="user" selected>User</option>
                                {{/if}}
                            </select>
						</div>
					</div>

					<div class="clearfix">
						<label for="vm_to_email_enabled">Email Notifications</label>
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="By checking this option, an email will be sent to the specified e-mail address each time a device of this account unregisters.">
											{{if data.vm_to_email_enabled}}
			                                <input id="vm_to_email_enabled" type="checkbox" name="vm_to_email_enabled" checked="checked" />
			                                {{else}}
			                                <input id="vm_to_email_enabled" type="checkbox" name="vm_to_email_enabled" />
			                                {{/if}}
			                                <span>Voicemail</span>
		                                </span>
                            		</label>
                                </li>
                                <li>
                                	<label>
                                		<span rel="popover" data-content="By checking this option, an email will be sent to the specified e-mail address each time you get a Fax.">
											{{if data.fax_to_email_enabled}}
			                                <input id="fax_to_email_enabled" type="checkbox" name="fax_to_email_enabled" checked="checked" />
			                                {{else}}
			                                <input id="fax_to_email_enabled" type="checkbox" name="fax_to_email_enabled" />
			                                {{/if}}
			                                <span>Fax</span>
		                                </span>
                                	</label>
                                </li>
                            </ul>
						</div>
					</div>

					<hr />

					<h3>In-House Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_internal">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_internal" name="caller_id.internal.name" type="text" placeholder="Name" value="${data.caller_id.internal.name}"  rel="popover" data-content="Define the Caller ID Name of this User for In-House Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>

					<div class="clearfix">
						<label for="caller_id_number_internal">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_internal" name="caller_id.internal.number" type="text" placeholder="555-555-5555" value="${data.caller_id.internal.number}" rel="popover" data-content="Define the Caller ID Number of this User for In-House Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>
					<hr />

					<h3>Outbound Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_external">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_external" name="caller_id.external.name" type="text" placeholder="Name" value="${data.caller_id.external.name}" rel="popover" data-content="Define the Caller ID Name of this User for Outbound Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>

					<div class="clearfix">
						<label for="caller_id_number_external">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_external" name="caller_id.external.number" type="text" placeholder="555-555-5555" value="${data.caller_id.external.number}" rel="popover" data-content="Define the Caller ID Number of this User for Outbound Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>

					<h3>Devices</h3>
					<div id="equipment">
	                    <div class="help_box">
	                        The following devices are mapped to this user. If you're creating a user, you can add a Device and it will be automatically assigned to this new user once the user creation is completed.
	                    </div>
	                    <div id="tab_devices">
	                        <div class="row title">
	                            <div class="column first">Device Name&nbsp;&nbsp;<span class="icon medium device"/></div>
	                            <div class="column second">Type&nbsp;&nbsp;<span class="icon medium iphone" style="margin-bottom: 4px;"/></div>
	                            <div class="column third">Status</div>
	                            <div class="column fourth">Enabled</div>
	                            <div class="column fifth">Actions&nbsp;&nbsp;<span class="icon medium settings" style="margin-bottom: 2px;"/></div>
	                        </div>
	                        <div class="rows">
	                        </div>
	                    </div>

	                    {{if field_data.new_user}}
	                        <button class="btn add_device" data-new_user="${field_data.new_user}">Add a new device for this user</button>
	                    {{else}}
	                        <button class="btn add_device" data-user_id="${data.id}">Add a new device for this user</button>
	                    {{/if}}
	                </div>
	            </div>

	            <div id="caller_id">
					<h3>In-House Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_internal">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_internal" name="caller_id.internal.name" type="text" placeholder="Name" value="${data.caller_id.internal.name}"  rel="popover" data-content="Define the Caller ID Name of this User for In-House Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>

					<div class="clearfix">
						<label for="caller_id_number_internal">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_internal" name="caller_id.internal.number" type="text" placeholder="555-555-5555" value="${data.caller_id.internal.number}" rel="popover" data-content="Define the Caller ID Number of this User for In-House Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>
					<hr />

					<h3>Outbound Calls</h3>
					<div class="clearfix">
						<label for="caller_id_name_external">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_external" name="caller_id.external.name" type="text" placeholder="Name" value="${data.caller_id.external.name}" rel="popover" data-content="Define the Caller ID Name of this User for Outbound Calls. If the Caller ID Name of the device and of the user is not set, this Caller ID Name will be used." />
						</div>
					</div>

					<div class="clearfix">
						<label for="caller_id_number_external">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_external" name="caller_id.external.number" type="text" placeholder="555-555-5555" value="${data.caller_id.external.number}" rel="popover" data-content="Define the Caller ID Number of this User for Outbound Calls. If the Caller ID Number of the device and of the user is not set, this Caller ID Number will be used."/>
						</div>
					</div>
					<hr />

					<h3>Emergency</h3>
					<div class="clearfix">
						<label for="caller_id_name_emergency">Caller ID Name</label>
						<div class="input">
							<input class="span4" id="caller_id_name_emergency" name="caller_id.emergency.name" type="text" placeholder="Name" value="${data.caller_id.emergency.name}" rel="popover" data-content="Define the Caller ID Name of this User for Emergency Calls." />
						</div>
					</div>

					<div class="clearfix">
						<label for="caller_id_number_emergency">Caller ID Number</label>
						<div class="input">
							<input class="span4" id="caller_id_number_emergency" name="caller_id.emergency.number" type="text" placeholder="555-555-5555" value="${data.caller_id.emergency.number}" rel="popover" data-content="Define the Caller ID Number of this User for Emergency Calls."/>
						</div>
					</div>
	            </div>

	            <div id="options">
                    <h3>Standard Options</h3>
	            	<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="Verify User ?">
											{{if data.verified}}
			                                    <input type="checkbox" id="verified" name="verified" checked="checked"/>
			                                {{else}}
			                                    <input type="checkbox" id="verified" name="verified"
			                                    />
			                                {{/if}}
			                                <span>User has been verified</span>
		                                </span>
	                                </label>
                                </li>
                            </ul>
						</div>
					</div>

					<div class="clearfix">
						<label for="timezone">Time zone</label>
						<div class="input">
							<select name="timezone" id="timezone" rel="popover" data-content="Select the time zone of this user."></select>
						</div>
					</div>

					<div class="clearfix">
						<label for="music_on_hold_media_id">Music on Hold</label>
						<div class="input">
							<span rel="popover" data-content="Select the media file that you want to be played by default when it 's not set on a user or a device.">
								<select name="music_on_hold.media_id" id="music_on_hold_media_id" class="medium">
									{{each field_data.media}}
	                                    {{if data.music_on_hold.media_id == id}}
	                                    <option id="${id}" value="${id}" selected="selected">${name}</option>
	                                    {{else}}
	                                    <option id="${id}" value="${id}">${name}</option>
	                                    {{/if}}
	                            	{{/each}}
								</select>
								<div class="edit_create">
									<a id="edit_link_media" class="inline_action_media" data-action="edit" href="#">Edit</a>
	                            	<a class="inline_action_media" data-action="create" href="#">Create</a>
								</div>
							</span>
						</div>
					</div>
                    <hr/>
                    <h3>Queue Options</h3>

					<!--<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="Tick the checkbox to set this user as an agent and you will then be able to define a Queue PIN for this agent (not mandatory).">
											{{if data.enable_pin === true}}
			                                <input id="enable_pin" type="checkbox" name="enable_pin" checked="checked" />
			                                {{else}}
			                                <input id="enable_pin" type="checkbox" name="enable_pin"/>
			                                {{/if}}
			                                <span>Enable Agent / PIN</span>
		                                </span>
                            		</label>
                                </li>
                            </ul>
						</div>
					</div>-->

                    <!--<div class="queue_block">
                        <div class="clearfix queue_pin">
                            <label for="queue_pin">PIN</label>
                            <div class="input">
                                <input id="queue_pin" placeholder="3615" type="text" name="queue_pin" value="${data.queue_pin}" rel="popover" data-content="PIN used by the agent to login to a queue."/>
                            </div>
                        </div>
-->
                    <div class="clearfix">
                        <div class="input">
                            <ul class="inputs-list">
                                <li>
                                    <label>
                                        <span rel="popover" data-content="By checking this box, this agent will be recorded even if the global setting for the queue is set to not record agents.">
                                            {{if data.record_call === true}}
                                            <input id="record_call" type="checkbox" name="record_call" checked="checked" />
                                            {{else}}
                                            <input id="record_call" type="checkbox" name="record_call"/>
                                            {{/if}}
                                            <span>Record this agent(user)</span>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
	            </div>

	            <div id="call_forward">
	            	<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
              					<li>
	              					<label>
	              						<span rel="popover" data-content="If checked, call forwarding feature will be enabled for user.">
											{{if data.call_forward.enabled}}
			                                    <input type="checkbox" id="call_forward_enabled" name="call_forward.enabled" checked="checked" rel="popover" data-content=""/>
			                                {{else}}
			                                    <input type="checkbox" id="call_forward_enabled" name="call_forward.enabled" rel="popover" data-content=""/>
			                                {{/if}}
			                                <span>Enable Call-Forward</span>
		                            	</span>
	                                </label>
                                </li>
                            </ul>
						</div>
					</div>

					<div class="clearfix">
						<label for="call_forward_number">Redirect calls to</label>
						<div class="input">
							<input class="span4" id="call_forward_number" name="call_forward.number" type="text" placeholder="+1415555555" value="${data.call_forward.number}" rel="popover" data-content="Number to redirect calls to for the call-forwarding feature"/>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="If this box is checked, it will prevent the user's phones from ringing. For example: If you want to ONLY ring a user's cellphone (and not their desk phone) - check this box.">
											{{if data.call_forward.substitute}}
							                    <input type="checkbox" id="call_forward_substitute" name="call_forward.substitute" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="call_forward_substitute" name="call_forward.substitute"/>
							                {{/if}}
							                <span>Bypass user's phones</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="Do you want this user to press a key to answer a call that has been call-forwarded">
											{{if data.call_forward.require_keypress}}
							                    <input type="checkbox" id="call_forward_require_keypress" name="call_forward.require_keypress" checked="checked"/>
							                {{else}}
							                    <input type="checkbox" id="call_forward_require_keypress" name="call_forward.require_keypress" />
							                {{/if}}
							                <span>Require Key Press</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="If checked, the caller-ID of the person being forwarded will display.  If not checked the caller-ID of the user will display.">
											{{if data.call_forward.keep_caller_id}}
							                    <input type="checkbox" id="call_forward_keep_caller_id" name="call_forward.keep_caller_id" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="call_forward_keep_caller_id" name="call_forward.keep_caller_id"/>
							                {{/if}}
							                <span>Keep Caller ID</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>

					<div class="clearfix">
						<div class="input">
							<ul class="inputs-list">
								<li>
									<label>
										<span rel="popover" data-content="If checked, it will only use the call forwarding if the user/device is rung directly and not when rung as a member of a group (ring group, ect).">
											{{if data.call_forward.direct_calls_only}}
							                    <input type="checkbox" id="call_forward_direct_calls_only" name="call_forward.direct_calls_only" checked="checked" />
							                {{else}}
							                    <input type="checkbox" id="call_forward_direct_calls_only" name="call_forward.direct_calls_only" />
							                {{/if}}
							                <span>Direct Calls Only</span>
						                </span>
						            </label>
						        </li>
						    </ul>
						</div>
					</div>
	            </div>

	            <div id="password_management">
	            	<div class="clearfix">
	            		<label for="pwd_mngt_pwd1">New Password</label>
	            		<div class="input">
	            			<input class="span4" id="pwd_mngt_pwd1" name="pwd_mngt_pwd1" type="password" value="fakePassword"/>
	            		</div>
	            	</div>

	            	<div class="clearfix">
	            		<label for="pwd_reco_pwd2">Confirm Password</label>
	            		<div class="input">
	            			<input class="span4" id="pwd_mngt_pwd2" name="pwd_mngt_pwd2" type="password" value="fakePassword"/>
	            		</div>
	            	</div>
	            </div>

	            <div id="hot_desking">
	            	<div class="clearfix">
	            		<div class="input">
	            			<ul class="inputs-list">
	            				<li>
	            					<label>
	            						<span rel="popover" data-content="Check to enable Hot Desking">
		            						{{if data.hotdesk.enable}}
		            		                    <input type="checkbox" id="hotdesk_enable" name="hotdesk.enable" checked="checked" />
		            		                {{else}}
		            		                    <input type="checkbox" id="hotdesk_enable" name="hotdesk.enable"/>
		            		                {{/if}}
		            		                <span>Enable Hot Desking</span>
	            		                </span>
	            		            </label>
	            		        </li>
	            		    </ul>
	            		</div>
	            	</div>

	            	<div class="clearfix">
	            		<label for="hotdesk_id">ID</label>
	            		<div class="input">
	            			<input class="span4" id="hotdesk_id" name="hotdesk.id" type="text" placeholder="ID" value="${data.hotdesk.id}" rel="popover" data-content="In order to enable Hot Desking from another device, you'll need to provide an ID"/>
	            		</div>
	            	</div>

	            	<div class="clearfix">
	            		<div class="input">
	            			<ul class="inputs-list">
	            				<li>
	            					<label>
	            						<span  rel="popover" data-content="If checked the user will be required to enter their ID and a PIN">
		            						{{if data.hotdesk.require_pin}}
		            		                    <input type="checkbox" id="hotdesk_require_pin" name="hotdesk.require_pin" checked="checked"/>
		            		                {{else}}
		            		                    <input type="checkbox" id="hotdesk_require_pin" name="hotdesk.require_pin"/>
		            		                {{/if}}
		            		                <span>Require PIN</span>
	            		                </span>
	            		            </label>
	            		        </li>
	            		    </ul>
	            		</div>
	            	</div>

	            	<div class="clearfix hotdesk_pin">
	            		<label for="">PIN</label>
	            		<div class="input">
	            			<input class="span4" id="hotdesk_pin" name="hotdesk.pin" type="text" placeholder="PIN" value="${data.hotdesk.pin}" rel="popover" data-content="PIN required to sign into a device."/>
	            		</div>
	            	</div>

	            	<div class="clearfix">
	            		<div class="input">
	            			<ul class="inputs-list">
	            				<li>
	            					<label>
	            						<span rel="popover" data-content="Tick if you want to stay logged in on your other devices">
		            						{{if data.hotdesk.keep_logged_in_elsewhere}}
		            		                    <input type="checkbox" id="hotdesk_keep_logged_in_elsewhere" name="hotdesk.keep_logged_in_elsewhere" checked="checked" />
		            		                {{else}}
		            		                    <input type="checkbox" id="hotdesk_keep_logged_in_elsewhere" name="hotdesk.keep_logged_in_elsewhere"/>
		            		                {{/if}}
		            		                <span>Check if you want to stay logged in</span>
	            		                </span>
	            		            </label>
	            		        </li>
	            		    </ul>
	            		</div>
	            	</div>

	            </div>
			</div>
		</form>
		<div class="buttons-right">
			{{if data.id}}
                <button class="btn danger user-delete">Delete</button>
            {{/if}}
              <button class="btn success user-save">Save</button>
		</div>
	</div>
</div>
