<div>
    <div id="agents-view">
        {{each agents}}
            <div class="agent_wrapper ${status}" id="${id}" data-queues="${queues}">
                <div class="agent_header">
                    <span class="icon medium head1"/>
                    ${first_name} ${last_name}
                </div>
                <div class="agent_data">
                    <div class="row_data call_time">
                        {{if status === 'paused'}}
                            <div class="data_title">Break Time</div>
                            <div class="data_value">${call_time}</div>
                        {{else status === 'wrapup'}}
                            <div class="data_title">Wrapping up</div>
                            <div class="data_value">${call_time}</div>
                        {{else status === 'handling'}}
                            <div class="data_title">Call Time</div>
                            <div class="data_value">${call_time}</div>
                        {{else status === 'busy'}}
                            <div class="data_title">Busy since</div>
                            <div class="data_value">${call_time}</div>
                        {{else}}
                            <div class="data_title">Call Time</div>
                            <div class="data_value">-</div>
                        {{/if}}
                    </div>
                    <div class="row_data call">
                        {{if status === 'handling'}}
                        <div class="data_title">${current_call.call_id}</div>
                        <span data-call_id="${current_call.call_id}" class="icon tech_support eavesdrop"/>
                        {{else}}
                        <div class="data_title">No active call...</div>
                        {{/if}}
                    </div>
                    <div class="all_data">
                        <div class="row_data call_hours">
                            <div class="data_title">Total Calls</div>
                            <div class="data_value">${total_calls}</div>
                        </div>
                        <div class="row_data call_day">
                            <div class="data_title">Missed Calls</div>
                            <div class="data_value">${missed_calls}</div>
                        </div>
                    </div>
                    <div class="queue_data" style="display: none;">
                        {{each(k, v) queues_list}}
                            <div class="queue_stat" data-id="${k}">
                                <div class="row_data call_hours">
                                    <div class="data_title">Total Calls</div>
                                    <div class="data_value">${total_calls}</div>
                                </div>
                                <div class="row_data call_day">
                                    <div class="data_title">Missed Calls</div>
                                    <div class="data_value">${missed_calls}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
